* {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Regular.woff") format("woff"),
    url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"),
    url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Bold.woff") format("woff"),
    url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.body {
  font-family: "TTLakes";
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 88px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  background-size: cover;
}

.menu-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
}

.right-part-header {
  background-color: inherit;
}

.menu-logo>* {
  background-color: inherit;
}

.right-part-header>* {
  background-color: inherit;
}

.button {
  border-style: none;
  background-color: white;
}

.right-part-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo__image {
  margin-left: 5vw;
  background-color: inherit;
}

.menu-logo__button {
  background-image: url("img/burger.svg");
  width: 40px;
  height: 40px;
  margin-left: 5vw;
  background-color: inherit;
}

.repair__button {
  background-image: url("img/repair.svg");
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background-color: inherit;
}

.checkstatus__button {
  background-image: url("img/checkstatus.svg");
  width: 40px;
  height: 40px;
  margin-right: 5vw;
  background-color: inherit;
}

.call__button {
  background-image: url("img/call.svg");
  width: 40px;
  height: 40px;
  margin-right: 2.5vw;
  background-color: inherit;
}

.chat__button {
  background-image: url("img/chat.svg");
  width: 40px;
  height: 40px;
  margin-right: 2.5vw;
  background-color: inherit;
}

.profile__button {
  background-image: url("img/profile.svg");
  width: 40px;
  height: 40px;
  margin-right: 5vw;
  background-color: inherit;
}

.header::before {
  content: "";
  background: #eaeaea;

  top: 28px;
  bottom: 28px;
  width: 2px;
  height: 32px;
  display: block;
  position: absolute;
}

.header::after {
  content: "";
  background: #d9fff5;
  left: 0;
  right: 0;
  top: 87px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-h1__h1 {
  font-family: "TTLakes";
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: -0.6px;
  margin-top: 5vw;
  margin-left: 5vw;
  width: 100%;
}

.slide-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  padding: 5vw;
  position: relative;
  width: 1060px;
  height: 40px;

}

.slide-menu__button {
  font-family: "TTLakes";
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.2px;
  color: #7e7e82;
  padding: 0 1.55rem 0 1.55rem;
  background-color: #f8f8f8;

}

.slide-menu__button_active {
  border-style: solid;
  border-color: #b8ffec;
  background-color: white;
  border-width: 2px;
  border-radius: 6px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content__text {
  font-family: "TTLakes";
  font-weight: normal;
  font-size: 0.88rem;
  padding: 16px;
  padding-top: 0px;
  color: #1b1c21;
  letter-spacing: 0.2px;
  justify-content: flex-start;
  line-height: 20px;
}



.content-details__summary::marker {
  display: none;
}

.content-details__summary:first-of-type {
  display: block;
}

.content-details__summary {
  font-family: "TTLakes";
  color: #1b1c21;
  font-weight: 500;
  padding-left: 48px;
  font-size: 1rem;
  padding-bottom: 16px;
  cursor: default;
  position: relative;
}

.content-details__marker {
  position: absolute;
  left: 16px;
  top: -2px;
}

.main-h1__h1::before {
  content: url("img/highlight.svg");
  position: absolute;
  left: 0;
}
.repair {
  position: relative;
}
.button--size-screen--big {
  display: none;
}
.main-header__label {
  min-width: 140px;
  font-family: "TTLakes";
  color: #1b1c21;
  font-weight: 500;
  font-size: 1rem;
  cursor: default;
  align-content: space-between;
  position: relative;
}

.read-more__button::before {
  content: url("img/icon.svg");
  position: absolute;
  left: 4vw;
  top: -2px;

}

.read-more {
  position: relative;
}

.read-more__button {
  position: relative;
  font-weight: 500;
  padding: 0 0 5vw 7.5vw;
  font-family: "TTLikes";
  font-size: 1rem;
  background-color: #f8f8f8;
}

.content-text__text {
  max-width: 100%;
  padding: 0 3.2vw 1.7vw 5vw;
  font-size: 0.88rem;
}

.content-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 280px) and (max-width: 768px) {
  .content-text__text--size-screen--medium {
    display: none;
  }

  .content__text--size-screen--big {
    display: none;
  }

  label {
    display: none;
  }

  .content-image__image {
    width: 100%;
  }

  .header::before {
    left: 59vw;
  }

  .slide-menu {
    width: calc(100% - 10vw);
    height: 40px;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .content {
    flex-direction: column;
  }

  .slide-menu__button {
    width: auto;
    min-width: 240px;
  }

  .button--size-screen--medium {
    display: none;
  }

  .read-more__button {
    padding-left: 10vw;
  }
}

@media (min-width: 767px) and (max-width: 1119px) {
  .content__text--size-screen--big {
    display: none;
  }

  .header::before {
    left: calc(56px + 6vw);
  }

  .header-repair::before {
    content: "";
    background: #eaeaea;
    top: 4px;
    bottom: 4px;
    width: 2px;
    height: 32px;
    right: calc(56px + 2.5vw);
    display: block;
    position: absolute;
  }

  .main-header__label {
    display: none;
  }

  .content-image__image {
    max-width: 532px;
    margin-right: 5vw;
  }

  .slide-menu {
    width: calc(100% - 10vw);
    height: 40px;
    flex-wrap: nowrap;
    overflow: hidden;
  }

}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .main {
    margin-top: 42px;
  }
  .read-more__button::before {
    left: 5vw;
    top: -2px;
  
  }
  .button--size-screen--big {
    display: block;
  }

  .content-image__image {
    max-width: 532px;
    margin-right: 5vw;
  }

  .slide-menu {
    display: flex;
    width: 94%;
    flex-wrap: wrap;
    padding-top: 8px;
  }

  .content-text, .content-image {
    padding-top: 1.5vw;
  }

  .main-h1__h1 {
    margin-top: 0;
  }

  .slide-menu__button {
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 16%;
  }

  .slide-menu__button:last-child {
    min-width: 50px;
  }
}